In [1]:
import pandas as pd

In [2]:
file_path = 'https://raw.githubusercontent.com/leekyuyoung20221226/python/main/%ED%8C%90%EB%8B%A4%EC%8A%A4/data/read_csv_sample.csv'

# Pandas 데이터 읽기

헤더 미 포함

In [3]:
df = pd.read_csv(file_path)
df

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

헤더를 데이터로 인식

In [4]:
df = pd.read_csv(file_path, header=None)
df

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

인덱스 지정

In [5]:
df = pd.read_csv(file_path, index_col=None)
df

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [6]:
df = pd.read_csv(file_path, index_col='c0')
df

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

# 엑셀파일 읽기

엑셀 엔진 패키지 로드

In [8]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ------------------------------------- 242.1/242.1 kB 14.5 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [9]:
file_path = './'
df = pd.read_excel('남북한발전전력량.xlsx')
df

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [10]:
df = pd.read_excel('남북한발전전력량.xlsx',header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
1,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
2,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
3,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
4,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
5,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
6,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
7,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
8,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
9,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

# json 파일 읽기

In [12]:
file_path = 'https://raw.githubusercontent.com/leekyuyoung20221226/python/main/%ED%8C%90%EB%8B%A4%EC%8A%A4/data/read_json_sample.json'

In [13]:
df = pd.read_json(file_path)
df

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True

# 외부파일 html 읽기

In [27]:
url = 'https://raw.githubusercontent.com/leekyuyoung20221226/python/main/%ED%8C%90%EB%8B%A4%EC%8A%A4/data/sample.html'

In [28]:
df = pd.read_html(url)
df

[   Unnamed: 0  c0  c1  c2  c3
 0           0   0   1   4   7
 1           1   1   2   5   8
 2           2   2   3   6   9,
          name  year        developer  opensource
 0       NumPy  2006  Travis Oliphant        True
 1  matplotlib  2003   John D. Hunter        True
 2      pandas  2008    Wes Mckinneye        True]

In [29]:
len(df)

2

In [30]:
df[0]

   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9

In [31]:
df[1]

         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

# 데이터 저장하기

In [32]:
df[1]

         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [33]:
df[1].to_csv('./sample.csv',index=None)

저장한데이터를 다시 csv로 읽어오기

In [34]:
df2 = pd.read_csv('./sample.csv')
df2

         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [42]:
!python --version  # 파이썬 버전 확인

Python 3.10.8

In [41]:
pwd   # 노트북이 실행되는 경로

'E:\\20221226_강남야간인공지능'

In [43]:
pip list  #  설치된 모든 패키지 버전 확인

Package              Version
-------------------- -----------
anyio                3.5.0
argon2-cffi          21.3.0
argon2-cffi-bindings 21.2.0
asttokens            2.0.5
attrs                22.1.0
Babel                2.11.0
backcall             0.2.0
beautifulsoup4       4.11.1
bleach               4.1.0
brotlipy             0.7.0
certifi              2022.12.7
cffi                 1.15.1
charset-normalizer   2.0.4
colorama             0.4.5
cryptography         38.0.1
debugpy              1.5.1
decorator            5.1.1
defusedxml           0.7.1
entrypoints          0.4
et-xmlfile           1.1.0
executing            0.8.3
fastjsonschema       2.16.2
flit_core            3.6.0
idna                 3.4
ipykernel            6.15.2
ipython              8.7.0
ipython-genutils     0.2.0
jedi                 0.18.1
Jinja2               3.1.2
json5                0.9.6
jsonschema           4.16.0
jupyter_client       7.4.8
jupyter_core         4.11.2
jupyter-server       1.23.4
jupyterlab           3.5.2
jupyterlab-pygments  0.1.2
jupyterlab_server    2.16.3
lxml                 4.9.1
MarkupSafe           2.1.1
matplotlib-inline    0.1.6
mistune              0.8.4
nbclassic            0.4.8
nbclient             0.5.13
nbconvert            6.5.4
nbformat             5.7.0
nest-asyncio         1.5.5
notebook             6.5.2
notebook_shim        0.2.2
numpy                1.24.1
openpyxl             3.0.10
packaging            22.0
pandas               1.5.2
pandocfilters        1.5.0
parso                0.8.3
pickleshare          0.7.5
pip                  22.3.1
prometheus-client    0.14.1
prompt-toolkit       3.0.20
psutil               5.9.0
pure-eval            0.2.2
pycparser            2.21
Pygments             2.11.2
pyOpenSSL            22.0.0
pyrsistent           0.18.0
PySocks              1.7.1
python-dateutil      2.8.2
pytz                 2022.7
pywin32              305.1
pywinpty             2.0.2
pyzmq                23.2.0
requests             2.28.1
Send2Trash           1.8.0
setuptools           65.5.0
six                  1.16.0
sniffio              1.2.0
soupsieve            2.3.2.post1
stack-data           0.2.0
terminado            0.17.1
tinycss2             1.2.1
tomli                2.0.1
tornado              6.2
traitlets            5.7.1
typing_extensions    4.4.0
urllib3              1.26.13
wcwidth              0.2.5
webencodings         0.5.1
websocket-client     0.58.0
wheel                0.37.1
win-inet-pton        1.1.0
wincertstore         0.2
Note: you may need to restart the kernel to use updated packages.

# kaggle 데이터 로드
    https://www.kaggle.com/datasets/prasertk/spotify-global-2019-moststreamed-tracks

In [44]:
file_path = './spotify_global_2019_most_streamed_tracks_audio_features.csv'

In [48]:
df = pd.read_csv(file_path)
df.head(3)

,Country,Rank,Track_id,Streams,Track Name,Artist,URL,acousticness,danceability,energy,...,valence,tempo,time_signature,duration_ms,key,mode,Artist_id,Artist_popularity,Artist_follower,Artist_img
0,global,1.0,25sgk305KZfyuqVBQIahim,1166185736,Sweet but Psycho,Ava Max,https://open.spotify.com/track/25sgk305KZfyuqV...,0.0691,0.719,0.704,...,0.628,133.002,4,187436,1,1,4npEfmQ6YuiwW1GpUmaq3F,87,1025358,https://i.scdn.co/image/4b914c6470c8458674538a...
1,global,2.0,2Fxmhks0bxGSBdJ92vM42m,1052358787,bad guy,Billie Eilish,https://open.spotify.com/track/2Fxmhks0bxGSBdJ...,0.3280,0.701,0.425,...,0.562,135.128,4,194088,7,1,6qqNVTkY8uBg9cP3Jd7DAH,98,18867904,https://i.scdn.co/image/2622edec99d68d1d141886...
2,global,3.0,6ocbgoVGwYJhOv1GgI9NsF,789094044,7 rings,Ariana Grande,https://open.spotify.com/track/6ocbgoVGwYJhOv1...,0.5920,0.778,0.317,...,0.327,140.048,4,178627,1,0,66CXWjxzNUsdJxJ2JdwvnR,97,40958727,https://i.scdn.co/image/b1dfbe843b0b9f54ab2e58...

판다스에서 많이 사용하는 함수들

In [50]:
print(df.index,'\n')
print('----------------------------','\n')
print(df.columns,'\n')
print('----------------------------','\n')
print(df.values,'\n')
print('----------------------------','\n')
print(df.value_counts(),'\n')
print('----------------------------','\n')
print(df.shape,'\n')
print('----------------------------','\n')
print(df.info(),'\n')

RangeIndex(start=0, stop=1717, step=1)

----------------------------

Index(['Country', 'Rank', 'Track_id', 'Streams', 'Track Name', 'Artist', 'URL',
       'acousticness', 'danceability', 'energy', 'instrumentalness',
       'liveness', 'loudness', 'speechiness', 'valence', 'tempo',
       'time_signature', 'duration_ms', 'key', 'mode', 'Artist_id',
       'Artist_popularity', 'Artist_follower', 'Artist_img'],
      dtype='object')

----------------------------

[['global' 1.0 '25sgk305KZfyuqVBQIahim' ... 87 1025358
  'https://i.scdn.co/image/4b914c6470c8458674538afe1b90b8ce4e777e96']
 ['global' 2.0 '2Fxmhks0bxGSBdJ92vM42m' ... 98 18867904
  'https://i.scdn.co/image/2622edec99d68d1d141886be593c88cbe509f6d8']
 ['global' 3.0 '6ocbgoVGwYJhOv1GgI9NsF' ... 97 40958727
  'https://i.scdn.co/image/b1dfbe843b0b9f54ab2e588f33e7637d2dab065a']
 ...
 ['global' 1715.0 '79hJaqmVdohltPBNN6BULM' ... 79 2834719
  'https://i.scdn.co/image/1d5a05673975ba0c378cd280344e000b0b865620']
 ['global' 1716.0 '7rLegaz7zKB6EtDNzcslKE' ... 84 1139072
  'https://i.scdn.co/image/984dfbcdcf7880b022478b4433ae006b2a108b03']
 ['global' 1717.0 '0kCqaybZgYcLYxzZymmBoc' ... 84 9577443
  'https://i.scdn.co/image/f9e65e111cbb16276d2c27dcdd5b8759b23f6d10']]

----------------------------

Country  Rank    Track_id                Streams     Track Name                                         Artist                   URL                                                    acousticness  danceability  energy  instrumentalness  liveness  loudness  speechiness  valence  tempo    time_signature  duration_ms  key  mode  Artist_id               Artist_popularity  Artist_follower  Artist_img
global   1.0     25sgk305KZfyuqVBQIahim  1166185736  Sweet but Psycho                                   Ava Max                  https://open.spotify.com/track/25sgk305KZfyuqVBQIahim  0.0691        0.719         0.704   0.000000          0.1660    -4.724    0.0476       0.628    133.002  4               187436       1    1     4npEfmQ6YuiwW1GpUmaq3F  87                 1025358          https://i.scdn.co/image/4b914c6470c8458674538afe1b90b8ce4e777e96    1
         1155.0  3DKpA54hrFIdPN6AtL9HXa  3004614     I'll Never Love Again - Film Version - Radio Edit  Lady Gaga                https://open.spotify.com/track/3DKpA54hrFIdPN6AtL9HXa  0.7850        0.450         0.335   0.000001          0.0979    -7.464    0.0298       0.250    109.908  4               281235       7    1     1HY2Jd0NmPuamShAr6KMms  89                 10181517         https://i.scdn.co/image/ea76c82c05174105751f850c8a1db426dd03aa78    1
         1153.0  2qqZ5fOGuNvYVzgPFDLQ4l  3025685     Mary's Boy Child / Oh My Lord                      Boney M.                 https://open.spotify.com/track/2qqZ5fOGuNvYVzgPFDLQ4l  0.2780        0.781         0.718   0.000000          0.2020    -8.722    0.0361       0.925    112.542  4               241427       0    1     54R6Y0I7jGUCveDTtI21nb  75                 589163           https://i.scdn.co/image/94f8fa49e6ac6748393ff020567c9b95c7f48c18    1
         1152.0  2xE16muNCmhZwSOv3i1d1H  3026322     Mood Swings                                        A Boogie Wit da Hoodie   https://open.spotify.com/track/2xE16muNCmhZwSOv3i1d1H  0.2350        0.943         0.664   0.000006          0.1120    -5.952    0.1060       0.930    120.051  4               156893       4    0     31W5EY0aAly4Qieq6OFu6I  91                 3899600          https://i.scdn.co/image/b7d26110180d7fb07097570d96991be33436a56a    1
         1151.0  3YxCKq3YPnTekAofhaHABZ  3032062     Jay Jay                                            MERO                     https://open.spotify.com/track/3YxCKq3YPnTekAofhaHABZ  0.5940        0.712         0.619   0.000000          0.1200    -8.287    0.2690       0.579    82.101   4               137587       10   0     5wyWp867LWGjFmYZXVSFnZ  76                 1151567          https://i.scdn.co/image/615afe66fedb5c97875da1619efd391fd0657ff1    1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ..
         570.0   6pVW5LRWgeLaHudxauOTJU  28518165    Jingle Bell Rock - Daryl's Version                 Daryl Hall & John Oates  https://open.spotify.com/track/6pVW5LRWgeLaHudxauOTJU  0.6130        0.666         0.841   0.000000          0.1130    -3.592    0.0312       0.840    128.718  4               126360       2    1     77tT1kLj6mCWtFNqiOmP9H  79                 1049877          https://i.scdn.co/image/cf1520ee06b1c8f139df15ae21f253af4421f153    1
         569.0   45Egmo7icyopuzJN0oMEdk  28618471    Love Lies (with Normani)                           Khalid                   https://open.spotify.com/track/45Egmo7icyopuzJN0oMEdk  0.0956        0.708         0.648   0.000000          0.1340    -5.626    0.0449       0.338    143.955  4               201707       6    1     6LuN9FCkKOj5PcnpouEgny  96                 10092177         https://i.scdn.co/image/e52c824585bfeef4d674b509437120805300f557    1
         568.0   3WRIaWsws011vHMd9uzPjG  28728227    First Off (feat. Travis Scott)                     Future                   https://open.spotify.com/track/3WRIaWsws011vHMd9uzPjG  0.0130        0.734         0.683   0.000000          0.2800    -6.105    0.0776       0.445    162.038  4               228367       1    1     1RyvyyTE3xzB2ZywiAwp0i  91                 8253537          https://i.scdn.co/image/287c505d7b76d3971a8c5b2fbb3935f9b2dbc3ce    1
         567.0   3VTNVsTTu05dmTsVFrmGpK  28753280    Fairytale of New York (feat. Kirsty MacColl)       The Pogues               https://open.spotify.com/track/3VTNVsTTu05dmTsVFrmGpK  0.5010        0.319         0.651   0.000047          0.2410    -6.335    0.0342       0.474    118.501  4               272200       2    1     2wzMOQwNT6ZvVB4amvhFAH  73                 285371           https://i.scdn.co/image/066e909db6281a424881f7eb1fd11248050ed390    1
         1717.0  0kCqaybZgYcLYxzZymmBoc  524230      Quem Pegou, Pegou - Ao Vivo                        Henrique & Juliano       https://open.spotify.com/track/0kCqaybZgYcLYxzZymmBoc  0.2990        0.690         0.670   0.000000          0.7490    -5.345    0.0317       0.579    104.022  4               184326       9    1     3p7PcrEHaaKLJnPUGOtRlT  84                 9577443          https://i.scdn.co/image/f9e65e111cbb16276d2c27dcdd5b8759b23f6d10    1
Length: 1717, dtype: int64

----------------------------

(1717, 24)

----------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1717 entries, 0 to 1716
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            1717 non-null   object
 1   Rank               1717 non-null   float64
 2   Track_id           1717 non-null   object
 3   Streams            1717 non-null   int64
 4   Track Name         1717 non-null   object
 5   Artist             1717 non-null   object
 6   URL                1717 non-null   object
 7   acousticness       1717 non-null   float64
 8   danceability       1717 non-null   float64
 9   energy             1717 non-null   float64
 10  instrumentalness   1717 non-null   float64
 11  liveness           1717 non-null   float64
 12  loudness           1717 non-null   float64
 13  speechiness        1717 non-null   float64
 14  valence            1717 non-null   float64
 15  tempo              1717 non-null   float64
 16  time_signature     1717 non-null   int64
 17  duration_ms        1717 non-null   int64
 18  key                1717 non-null   int64
 19  mode               1717 non-null   int64
 20  Artist_id          1717 non-null   object
 21  Artist_popularity  1717 non-null   int64
 22  Artist_follower    1717 non-null   int64
 23  Artist_img         1717 non-null   object
dtypes: float64(10), int64(7), object(7)
memory usage: 322.1+ KB
None

기술통계

In [51]:
df.describe()

,Rank,Streams,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,valence,tempo,time_signature,duration_ms,key,mode,Artist_popularity,Artist_follower
count,1717.000000,1.717000e+03,1717.000000,1717.000000,1717.000000,1717.000000,1717.000000,1717.000000,1717.000000,1717.000000,1717.000000,1717.000000,1717.000000,1717.000000,1717.000000,1717.000000,1.717000e+03
mean,859.000000,5.166175e+07,0.257652,0.675438,0.624354,0.014577,0.174317,-6.477624,0.129967,0.487719,122.147556,3.942341,202604.382644,5.332557,0.582994,87.246942,8.645130e+06
std,495.799523,1.047532e+08,0.256975,0.154163,0.172298,0.085988,0.135992,2.777252,0.113958,0.220402,30.734280,0.373427,58229.593358,3.677810,0.493208,7.808209,1.105793e+07
min,1.000000,5.242300e+05,0.000037,0.151000,0.013700,0.000000,0.019700,-25.166000,0.023200,0.026200,46.489000,1.000000,46837.000000,0.000000,0.000000,47.000000,1.090000e+02
25%,430.000000,1.763026e+06,0.051900,0.584000,0.525000,0.000000,0.097200,-7.595000,0.044600,0.321000,97.038000,4.000000,171573.000000,2.000000,0.000000,83.000000,1.370858e+06
50%,859.000000,9.623926e+06,0.171000,0.694000,0.646000,0.000000,0.123000,-5.991000,0.080100,0.490000,120.013000,4.000000,196400.000000,6.000000,1.000000,87.000000,3.998147e+06
75%,1288.000000,4.829352e+07,0.385000,0.787000,0.747000,0.000022,0.198000,-4.696000,0.188000,0.652000,143.027000,4.000000,224225.000000,8.000000,1.000000,93.000000,1.099547e+07
max,1717.000000,1.166186e+09,0.979000,0.974000,0.978000,0.956000,0.959000,-1.339000,0.856000,0.982000,207.476000,5.000000,943529.000000,11.000000,1.000000,100.000000,5.746376e+07

중위수와 평균의 관계

In [56]:
import numpy as np
data = [1,2,3,4,5,6,700]
# 중위수 : 4
# 평균   : 4
np.mean(data)

103.0

In [58]:
# Q : Artist 컬럼의 값을 출력
df['Artist']

0                  Ava Max
1            Billie Eilish
2            Ariana Grande
3              Tones and I
4             Shawn Mendes
               ...
1712                   Sia
1713                    LX
1714              Bee Gees
1715      MC Kevin o Chris
1716    Henrique & Juliano
Name: Artist, Length: 1717, dtype: object

In [60]:
# Q : Rank, Artist 만 출력
df[['Rank','Artist']]

        Rank              Artist
0        1.0             Ava Max
1        2.0       Billie Eilish
2        3.0       Ariana Grande
3        4.0         Tones and I
4        5.0        Shawn Mendes
...      ...                 ...
1712  1713.0                 Sia
1713  1714.0                  LX
1714  1715.0            Bee Gees
1715  1716.0    MC Kevin o Chris
1716  1717.0  Henrique & Juliano

[1717 rows x 2 columns]

In [61]:
df['Artist'].value_counts()

Post Malone      45
Juice WRLD       31
Ariana Grande    28
Billie Eilish    27
Taylor Swift     27
                 ..
Leona Lewis       1
Kylie Minogue     1
Omar Montes       1
Paloma Mami       1
Bee Gees          1
Name: Artist, Length: 488, dtype: int64

In [62]:
# Q 아티스트가 BTS인 데이터 전체를 추출

In [64]:
df[df['Artist'] == 'BTS']

,Country,Rank,Track_id,Streams,Track Name,Artist,URL,acousticness,danceability,energy,...,valence,tempo,time_signature,duration_ms,key,mode,Artist_id,Artist_popularity,Artist_follower,Artist_img
86,global,87.0,5KawlOMHjWeUjQtnuRs22c,261504425,Boy With Luv (feat. Halsey),BTS,https://open.spotify.com/track/5KawlOMHjWeUjQt...,0.0923,0.645,0.862,...,0.798,119.991,4,229773,11,0,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
464,global,465.0,314ZkcV7oLWG8yWE7LABvH,42873724,Make It Right (feat. Lauv),BTS,https://open.spotify.com/track/314ZkcV7oLWG8yW...,0.0304,0.584,0.685,...,0.345,97.551,4,226321,7,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
676,global,677.0,5hnbE5BF2e8BCk9OMR1UVC,18801822,Mikrokosmos,BTS,https://open.spotify.com/track/5hnbE5BF2e8BCk9...,0.1250,0.580,0.858,...,0.475,174.039,3,224225,8,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
678,global,679.0,4c1WgUnHXq2LEncGHKgj1I,18648089,Dream Glow (BTS World Original Soundtrack) - P...,BTS,https://open.spotify.com/track/4c1WgUnHXq2LEnc...,0.0967,0.735,0.740,...,0.541,141.948,4,187458,0,0,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
681,global,682.0,6KUE0HSSudAp9AOycaF6SH,18423901,Make It Right,BTS,https://open.spotify.com/track/6KUE0HSSudAp9AO...,0.0104,0.638,0.703,...,0.261,105.766,4,226321,7,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
710,global,711.0,7lthOBXNue2IvedLRfkod8,16442038,HOME,BTS,https://open.spotify.com/track/7lthOBXNue2Ived...,0.0142,0.633,0.799,...,0.535,142.991,4,234178,7,0,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
725,global,726.0,6JdS5rJvJaRA7B1tcm7kxZ,15134946,Dionysus,BTS,https://open.spotify.com/track/6JdS5rJvJaRA7B1...,0.0400,0.502,0.910,...,0.588,176.084,4,249215,7,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
778,global,779.0,0eeeyCAGnGZInPtpkdYiPa,12992565,Jamais Vu,BTS,https://open.spotify.com/track/0eeeyCAGnGZInPt...,0.2260,0.608,0.470,...,0.241,81.000,4,227275,8,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
883,global,884.0,2isSdmQfVv32j2haL6hk9x,8775556,Intro : Persona,BTS,https://open.spotify.com/track/2isSdmQfVv32j2h...,0.0278,0.469,0.870,...,0.652,86.622,4,171023,9,0,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
1057,global,1058.0,5XkyZyKMdFungjDb9cUKc3,4383131,A Brand New Day (BTS World Original Soundtrack...,BTS,https://open.spotify.com/track/5XkyZyKMdFungjD...,0.3390,0.804,0.498,...,0.704,105.008,4,205020,8,0,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
1265,global,1266.0,70sKIAQgaVN2zWEEyOpyMZ,1921011,All Night (BTS World Original Soundtrack) [Pt. 3],BTS,https://open.spotify.com/track/70sKIAQgaVN2zWE...,0.1930,0.725,0.706,...,0.667,120.042,4,216874,5,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...

In [73]:
df[df.Artist == 'BTS'].columns

Index(['Country', 'Rank', 'Track_id', 'Streams', 'Track Name', 'Artist', 'URL',
       'acousticness', 'danceability', 'energy', 'instrumentalness',
       'liveness', 'loudness', 'speechiness', 'valence', 'tempo',
       'time_signature', 'duration_ms', 'key', 'mode', 'Artist_id',
       'Artist_popularity', 'Artist_follower', 'Artist_img'],
      dtype='object')

In [72]:
# df['Artist']
df[df.Artist == 'BTS'].head(2)

,Country,Rank,Track_id,Streams,Track Name,Artist,URL,acousticness,danceability,energy,...,valence,tempo,time_signature,duration_ms,key,mode,Artist_id,Artist_popularity,Artist_follower,Artist_img
86,global,87.0,5KawlOMHjWeUjQtnuRs22c,261504425,Boy With Luv (feat. Halsey),BTS,https://open.spotify.com/track/5KawlOMHjWeUjQt...,0.0923,0.645,0.862,...,0.798,119.991,4,229773,11,0,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
464,global,465.0,314ZkcV7oLWG8yWE7LABvH,42873724,Make It Right (feat. Lauv),BTS,https://open.spotify.com/track/314ZkcV7oLWG8yW...,0.0304,0.584,0.685,...,0.345,97.551,4,226321,7,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...

판다스 옵션을 조정해서 컬럼명은 줄이지 않고 다 보이도록 조정

In [74]:
pd.options.display.max_columns= None

In [76]:
df[df.Artist == 'BTS']

,Country,Rank,Track_id,Streams,Track Name,Artist,URL,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,valence,tempo,time_signature,duration_ms,key,mode,Artist_id,Artist_popularity,Artist_follower,Artist_img
86,global,87.0,5KawlOMHjWeUjQtnuRs22c,261504425,Boy With Luv (feat. Halsey),BTS,https://open.spotify.com/track/5KawlOMHjWeUjQt...,0.0923,0.645,0.862,0.000000,0.1920,-4.757,0.0965,0.798,119.991,4,229773,11,0,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
464,global,465.0,314ZkcV7oLWG8yWE7LABvH,42873724,Make It Right (feat. Lauv),BTS,https://open.spotify.com/track/314ZkcV7oLWG8yW...,0.0304,0.584,0.685,0.000000,0.1890,-7.811,0.4250,0.345,97.551,4,226321,7,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
676,global,677.0,5hnbE5BF2e8BCk9OMR1UVC,18801822,Mikrokosmos,BTS,https://open.spotify.com/track/5hnbE5BF2e8BCk9...,0.1250,0.580,0.858,0.000000,0.0502,-5.212,0.1140,0.475,174.039,3,224225,8,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
678,global,679.0,4c1WgUnHXq2LEncGHKgj1I,18648089,Dream Glow (BTS World Original Soundtrack) - P...,BTS,https://open.spotify.com/track/4c1WgUnHXq2LEnc...,0.0967,0.735,0.740,0.000000,0.1010,-3.837,0.0519,0.541,141.948,4,187458,0,0,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
681,global,682.0,6KUE0HSSudAp9AOycaF6SH,18423901,Make It Right,BTS,https://open.spotify.com/track/6KUE0HSSudAp9AO...,0.0104,0.638,0.703,0.000000,0.1320,-7.874,0.4440,0.261,105.766,4,226321,7,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
710,global,711.0,7lthOBXNue2IvedLRfkod8,16442038,HOME,BTS,https://open.spotify.com/track/7lthOBXNue2Ived...,0.0142,0.633,0.799,0.000000,0.1940,-4.625,0.0429,0.535,142.991,4,234178,7,0,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
725,global,726.0,6JdS5rJvJaRA7B1tcm7kxZ,15134946,Dionysus,BTS,https://open.spotify.com/track/6JdS5rJvJaRA7B1...,0.0400,0.502,0.910,0.000000,0.3190,-2.769,0.1070,0.588,176.084,4,249215,7,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
778,global,779.0,0eeeyCAGnGZInPtpkdYiPa,12992565,Jamais Vu,BTS,https://open.spotify.com/track/0eeeyCAGnGZInPt...,0.2260,0.608,0.470,0.000000,0.0963,-6.730,0.0428,0.241,81.000,4,227275,8,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
883,global,884.0,2isSdmQfVv32j2haL6hk9x,8775556,Intro : Persona,BTS,https://open.spotify.com/track/2isSdmQfVv32j2h...,0.0278,0.469,0.870,0.000000,0.3130,-4.475,0.3420,0.652,86.622,4,171023,9,0,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
1057,global,1058.0,5XkyZyKMdFungjDb9cUKc3,4383131,A Brand New Day (BTS World Original Soundtrack...,BTS,https://open.spotify.com/track/5XkyZyKMdFungjD...,0.3390,0.804,0.498,0.000236,0.1800,-7.387,0.0571,0.704,105.008,4,205020,8,0,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
1265,global,1266.0,70sKIAQgaVN2zWEEyOpyMZ,1921011,All Night (BTS World Original Soundtrack) [Pt. 3],BTS,https://open.spotify.com/track/70sKIAQgaVN2zWE...,0.1930,0.725,0.706,0.000000,0.1090,-4.766,0.1210,0.667,120.042,4,216874,5,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...

In [78]:
# Q Artist_popularity 가 93보다 큰 데이터들 중에서 Country', 'Rank', 'Track_id', 'Streams', 'Track Name', 'Artist', 'URL' 만 출력

In [80]:
df[df.Artist_popularity > 93][['Country', 'Rank', 'Track_id', 'Streams', 'Track Name', 'Artist', 'URL']]

,Country,Rank,Track_id,Streams,Track Name,Artist,URL
1,global,2.0,2Fxmhks0bxGSBdJ92vM42m,1052358787,bad guy,Billie Eilish,https://open.spotify.com/track/2Fxmhks0bxGSBdJ...
2,global,3.0,6ocbgoVGwYJhOv1GgI9NsF,789094044,7 rings,Ariana Grande,https://open.spotify.com/track/6ocbgoVGwYJhOv1...
4,global,5.0,6v3KW9xbzN5yKLt9YKDYA2,763064359,Señorita,Shawn Mendes,https://open.spotify.com/track/6v3KW9xbzN5yKLt...
5,global,6.0,5w9c2J52mkdntKOmRLeM2m,715027898,Con Calma,Daddy Yankee,https://open.spotify.com/track/5w9c2J52mkdntKO...
9,global,10.0,6MWtB6iiXyIwun0YzU6DFP,615519053,Wow.,Post Malone,https://open.spotify.com/track/6MWtB6iiXyIwun0...
...,...,...,...,...,...,...,...
1689,global,1690.0,73IE87H0g2MBmdn41lkVto,669961,Paris Morton Music,Drake,https://open.spotify.com/track/73IE87H0g2MBmdn...
1691,global,1692.0,41mzryVlFLlz6b1BCtJAjx,665862,Light It Up,Young Thug,https://open.spotify.com/track/41mzryVlFLlz6b1...
1694,global,1695.0,44nlOJLjLqwNgYcT277V25,656653,Make Eem Run!,Bass Santana,https://open.spotify.com/track/44nlOJLjLqwNgYc...
1696,global,1697.0,2WOxBv9WElDqB0opEAbCC4,646319,Touch Eem Body,XXXTENTACION,https://open.spotify.com/track/2WOxBv9WElDqB0o...
1701,global,1702.0,39N9RPD9MRb5WmoLzNzPeA,623835,X,Nicky Jam,https://open.spotify.com/track/39N9RPD9MRb5Wmo...

In [82]:
df[df.Artist_popularity > 93].loc[:, :'URL']

,Country,Rank,Track_id,Streams,Track Name,Artist,URL
1,global,2.0,2Fxmhks0bxGSBdJ92vM42m,1052358787,bad guy,Billie Eilish,https://open.spotify.com/track/2Fxmhks0bxGSBdJ...
2,global,3.0,6ocbgoVGwYJhOv1GgI9NsF,789094044,7 rings,Ariana Grande,https://open.spotify.com/track/6ocbgoVGwYJhOv1...
4,global,5.0,6v3KW9xbzN5yKLt9YKDYA2,763064359,Señorita,Shawn Mendes,https://open.spotify.com/track/6v3KW9xbzN5yKLt...
5,global,6.0,5w9c2J52mkdntKOmRLeM2m,715027898,Con Calma,Daddy Yankee,https://open.spotify.com/track/5w9c2J52mkdntKO...
9,global,10.0,6MWtB6iiXyIwun0YzU6DFP,615519053,Wow.,Post Malone,https://open.spotify.com/track/6MWtB6iiXyIwun0...
...,...,...,...,...,...,...,...
1689,global,1690.0,73IE87H0g2MBmdn41lkVto,669961,Paris Morton Music,Drake,https://open.spotify.com/track/73IE87H0g2MBmdn...
1691,global,1692.0,41mzryVlFLlz6b1BCtJAjx,665862,Light It Up,Young Thug,https://open.spotify.com/track/41mzryVlFLlz6b1...
1694,global,1695.0,44nlOJLjLqwNgYcT277V25,656653,Make Eem Run!,Bass Santana,https://open.spotify.com/track/44nlOJLjLqwNgYc...
1696,global,1697.0,2WOxBv9WElDqB0opEAbCC4,646319,Touch Eem Body,XXXTENTACION,https://open.spotify.com/track/2WOxBv9WElDqB0o...
1701,global,1702.0,39N9RPD9MRb5WmoLzNzPeA,623835,X,Nicky Jam,https://open.spotify.com/track/39N9RPD9MRb5Wmo...

In [83]:
# Q 가수(Artist)중에 BTS가 있는지 확인  있으면 True 없으면 False

In [87]:
'BTS' in df.Artist

False

In [95]:
'BTS' in df.Artist.values

True

In [106]:
# Q BTS 의 노래는 몇곡?  순위(Rank)는 ? - 중복을 제거하고 보자. 
print( len(df[df.Artist == 'BTS']) )
print( df[df.Artist == 'BTS']['Rank'].values )
print( set(df[df.Artist == 'BTS']['Rank'].values) )

11
[  87.  465.  677.  679.  682.  711.  726.  779.  884. 1058. 1266.]
{1058.0, 677.0, 679.0, 711.0, 682.0, 779.0, 465.0, 1266.0, 884.0, 726.0, 87.0}

In [109]:
np.array([1.2,2.2], dtype = int)

array([1, 2])

In [122]:
df_bts = df[df.Artist == 'BTS']
df_bts_rank_array = np.array(list(set(df_bts['Rank'].values)),dtype= int)
df_bts_rank_array.sort()   # 원본을 변경
print(df_bts_rank_array)

[  87  465  677  679  682  711  726  779  884 1058 1266]

In [127]:
df_bts.head(2)
# Q tempo 평균보다 큰 데이터
df_bts_temp_mean =  df_bts['tempo'].mean()
df_bts[df_bts['tempo'] > df_bts_temp_mean]

,Country,Rank,Track_id,Streams,Track Name,Artist,URL,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,valence,tempo,time_signature,duration_ms,key,mode,Artist_id,Artist_popularity,Artist_follower,Artist_img
676,global,677.0,5hnbE5BF2e8BCk9OMR1UVC,18801822,Mikrokosmos,BTS,https://open.spotify.com/track/5hnbE5BF2e8BCk9...,0.1250,0.580,0.858,0.0,0.0502,-5.212,0.1140,0.475,174.039,3,224225,8,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
678,global,679.0,4c1WgUnHXq2LEncGHKgj1I,18648089,Dream Glow (BTS World Original Soundtrack) - P...,BTS,https://open.spotify.com/track/4c1WgUnHXq2LEnc...,0.0967,0.735,0.740,0.0,0.1010,-3.837,0.0519,0.541,141.948,4,187458,0,0,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
710,global,711.0,7lthOBXNue2IvedLRfkod8,16442038,HOME,BTS,https://open.spotify.com/track/7lthOBXNue2Ived...,0.0142,0.633,0.799,0.0,0.1940,-4.625,0.0429,0.535,142.991,4,234178,7,0,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...
725,global,726.0,6JdS5rJvJaRA7B1tcm7kxZ,15134946,Dionysus,BTS,https://open.spotify.com/track/6JdS5rJvJaRA7B1...,0.0400,0.502,0.910,0.0,0.3190,-2.769,0.1070,0.588,176.084,4,249215,7,1,3Nrfpe0tUJi4K4DXYWgMUX,93,15652748,https://i.scdn.co/image/0c9057cb30520f9f883a22...

다중조건 원본데이터에서 검색 df

'Artist' == bts and 'energy' > 0.8 :  'Country','Rank','Track Name'

In [138]:
df[(df.Artist == 'BTS') & (df.energy > 0.8)][ ['Country','Rank','Track Name' ] ]

    Country   Rank                   Track Name
86   global   87.0  Boy With Luv (feat. Halsey)
676  global  677.0                  Mikrokosmos
725  global  726.0                     Dionysus
883  global  884.0              Intro : Persona

# 통계 및 수학 함수

    BTS음원 Stream sum()
    BTS음원 Stream min()
    BTS음원 Stream max()
    BTS음원 Stream mean()
    BTS음원 Stream median()
    BTS음원 Stream idxmin()
    BTS음원 Stream idxmax()

In [143]:
print(df_bts.Streams.sum())
print(df_bts.Streams.min())
print(df_bts.Streams.max())
print(df_bts.Streams.median())
print(df_bts.Streams.idxmin())
print(df_bts.Streams.idxmax())

419901208
1921011
261504425
16442038.0
1265
86

In [145]:
# df중에서 Arties 목록을 추출... 중복없이
df.Artist.unique()

array(['Ava Max', 'Billie Eilish', 'Ariana Grande', 'Tones and I',
       'Shawn Mendes', 'Daddy Yankee', 'Lady Gaga', 'Lewis Capaldi',
       'Marshmello', 'Post Malone', 'Halsey', 'Pedro Capó', 'Sam Smith',
       'Ed Sheeran', 'Lil Nas X', 'Anuel AA', 'Bad Bunny', 'J. Cole',
       'Panic! At The Disco', 'Travis Scott', 'benny blanco', 'Lizzo',
       'Meek Mill', 'Mabel', 'Juice WRLD', 'Y2K', 'Maroon 5', 'Khalid',
       'MEDUZA', 'Sech', 'Alec Benjamin', 'Jhay Cortez', 'ROSALÍA',
       'Drake', 'XXXTENTACION', 'Lauv', 'DJ Snake', 'J Balvin',
       'A Boogie Wit da Hoodie', 'Imagine Dragons', '5 Seconds of Summer',
       'Jonas Brothers', 'Queen', 'Ozuna', 'Lunay', 'Anne-Marie',
       'Nicky Jam', 'Maluma', 'James Arthur', 'Chris Brown', 'blackbear',
       'Calvin Harris', 'Lil Baby', 'DaBaby', 'Dynoro', 'DJ Luian', 'BTS',
       'YNW Melly', 'Katy Perry', 'Paulo Londra', 'Selena Gomez', 'Kygo',
       'Dominic Fike', 'Ellie Goulding', 'Kodak Black', 'Cardi B',
       'Ali Gatie', 'Regard', 'Dua Lipa', 'The Black Eyed Peas',
       'Piso 21', 'Tainy', '21 Savage', 'Arizona Zervas', 'OneRepublic',
       'Camila Cabello', 'Dalex', 'Camilo', 'Loud Luxury', 'Dan + Shay',
       'The Chainsmokers', 'Mustard', 'Dean Lewis', 'Sheck Wes',
       'Lil Tecca', 'Mau y Ricky', 'Tyler, The Creator', 'Zedd', 'Avicii',
       'BLACKPINK', 'Mark Ronson', 'Oasis', 'Young Thug', 'Alan Walker',
       'Tyga', 'Gucci Mane', 'Taylor Swift', 'Polo G', 'Mariah Carey',
       'Justin Quiles', 'KAROL G', 'Blueface', 'Rauw Alejandro', 'YG',
       'Bazzi', 'John Legend', 'Martin Garrix', 'Lukas Graham',
       'Myke Towers', 'Lil Uzi Vert', 'Trevor Daniel', 'David Guetta',
       'SHAED', 'Kina', 'Flipp Dinero', 'Sean Paul', 'Wham!', 'Reik',
       'Normani', 'Harry Styles', 'TOTO', 'Sam Feldt', 'Jeremy Zucker',
       'R3HAB', 'Manuel Turizo', 'The Weeknd', 'Wisin & Yandel',
       'Sebastian Yatra', 'Tiësto', 'Aaron Smith', 'Jason Mraz',
       'Blanco Brown', 'NLE Choppa', 'José Feliciano', 'Major Lazer',
       'Bebe Rexha', 'George Ezra', 'Rich Music LTD', 'Miley Cyrus',
       'Clean Bandit', 'Kanye West', 'Quality Control', 'Rita Ora',
       'Logic', 'Zara Larsson', 'ZAYN', 'H.E.R.', 'Nio Garcia',
       'Niall Horan', 'Stormzy', 'Robin Schulz', 'Jonas Blue',
       'Michael Bublé', 'Calboy', 'Gesaffelstein',
       'Ski Mask The Slump God', 'Dimelo Flow', 'Brenda Lee',
       'Bobby Helms', 'Rich The Kid', 'Dayvi', 'Duki', 'P!nk',
       'Metro Boomin', 'Justin Bieber', 'French Montana',
       'Megan Thee Stallion', 'Lil Dicky', 'Apache 207', '6ix9ine',
       'Tom Walker', 'Lil Skies', 'Lil Peep', 'Silk City', 'Ant Saunders',
       'Luis Fonsi', 'Offset', 'Kehlani', 'BlocBoy JB', 'Lil Mosey',
       'Frank Sinatra', 'John Lennon', 'Tropkillaz', 'Ashley O',
       'Brytiago', 'ChocQuibTown', 'Kelly Clarkson', 'Doja Cat',
       'Sofia Reyes', 'Diplo', 'Jorja Smith', 'Becky G', 'Guaynaa',
       'Danny Ocean', 'Hailee Steinfeld', '24kGoldn', 'Residente',
       'Chris Rea', 'Paul McCartney', 'Don Toliver', 'Lil Tjay',
       'Roddy Ricch', 'Kendrick Lamar', 'Joji', 'YUNGBLUD',
       'Nat King Cole', 'Noah Cyrus', 'Dermot Kennedy', 'Bing Crosby',
       'Tory Lanez', 'JP Saxe', 'Noriel', 'Joyner Lucas', 'Burl Ives',
       "Shakin' Stevens", 'Mahmood', 'NF', 'Jax Jones', 'Andy Williams',
       'Maren Morris', 'Dean Martin', 'Machine Gun Kelly', 'A$AP Rocky',
       'Duncan Laurence', 'DJ Khaled', "Why Don't We", 'Amenazzy', 'NOTD',
       'Capital Bra', 'Perry Como', 'The Pogues', 'Future',
       'Daryl Hall & John Oates', 'YoungBoy Never Broke Again', 'Sia',
       'Little Mix', 'Lil Pump', 'The Police', 'Chance the Rapper',
       'Journey', 'Gaullin', 'Elvis Presley', 'Coldplay', 'WOS', 'Riton',
       'Eminem', 'Samra', 'JENNIE', 'Swae Lee', 'Nipsey Hussle',
       'FLETCHER', 'Gradur', 'Dadá Boladão', 'PARTYNEXTDOOR', 'TWICE',
       'The Killers', 'Felipe Araújo', 'Kevin Roldan', 'Tame Impala',
       'Elton John', 'Summer Walker', 'SZA', 'The Jackson 5', 'PNL',
       'Anitta', 'Galantis', 'SAINt JHN', 'Marília Mendonça',
       'Henrique & Juliano', 'Chuck Berry', 'Rudimental', 'MERO',
       'MC Kevin o Chris', 'Nicki Minaj', 'NAV', 'Gambi', 'Lana Del Rey',
       'Trippie Redd', 'Internet Money', 'Bizarrap', 'C. Tangana', 'Sido',
       'tha Supreme', 'Bruce Springsteen', 'Alessia Cara',
       'Meghan Trainor', 'Gabriel Diniz', 'Leona Lewis', 'Kylie Minogue',
       'Shindy', 'Omar Montes', 'ScHoolboy Q', 'Paloma Mami', 'Nimo',
       'Rick Ross', 'Reynmen', 'Blue Ivy', 'Daya', 'Beyoncé', 'Marracash',
       'Red Velvet', 'Tony Bennett', 'JACKBOYS', 'Dennis Lloyd',
       'Charlie Puth', 'Dreamville', 'Labrinth', 'Summer Cem',
       'Dennis DJ', 'Cauty', 'Saweetie', 'Loredana', 'Don Patricio',
       'Luan Santana', 'Ufo361', 'Twenty One Pilots', 'MC Du Black',
       'Hozier', 'The Cratez', 'Farid Bang', 'Julia Michaels',
       'Norm Ender', 'Pentatonix', 'Ultimo', 'KC Rebell', 'Rammstein',
       'Gwen Stefani', '*NSYNC', 'Shirin David', 'Kalazh44',
       'Eartha Kitt', 'Zé Neto & Cristiano', 'True Damage', 'Zac Efron',
       'Stevie Wonder', 'Ninho', 'RIN', 'Brett Eldredge', 'Fero47',
       'Jorge & Mateus', 'Nekfeu', 'Gemitaiz', 'Frank Ocean', 'SuperM',
       'Gunna', 'James Blake', 'BROCKHAMPTON', 'KSI', 'Big Sean',
       '2 Chainz', 'Pedro Sampaio', 'Márcia Fellipe', 'Donny Hathaway',
       'Bushido', 'G-Eazy', 'j-hope', 'Ella Fitzgerald', 'KYLE',
       'Sfera Ebbasta', 'TINI', 'MC L da Vinte', 'YBN Cordae',
       'Liam Payne', 'RAF Camora', 'Train', 'TOMORROW X TOGETHER',
       'Bryant Myers', 'The Beach Boys', 'Earth, Wind & Fire',
       'João Gustavo e Murilo', 'Dardan', 'Céline Dion', 'Boney M.',
       'John Mayer', 'Alesso', 'Slade', 'Solange', 'TOOL',
       'Christina Aguilera', 'Conan Gray', 'Judy Garland', 'Gene Autry',
       'Macklemore & Ryan Lewis', 'Idina Menzel', 'Slipknot',
       'Michael Jackson', 'Kontra K', 'Keala Settle', 'Irama', 'Jessie J',
       'Martin Jensen', 'Luke Combs', 'Kacey Musgraves',
       'Melanie Martinez', '88-Keys', 'Shiva', 'Mel & Kim', 'Eagles',
       'AC/DC', 'Russ', 'Nina Nesbitt', 'Hannah Kerr', 'Wesley Safadão',
       'PnB Rock', 'Avril Lavigne', 'Luche', 'Azet', 'Bryan Adams',
       'Melanie Thornton', 'Portugal. The Man', 'Şanışer', 'Luca Hänni',
       'Louis Tomlinson', 'BRADO', 'OutKast', 'Florence + The Machine',
       'Ray Parker, Jr.', 'Keiino', 'Bobby "Boris" Pickett', 'A$AP Ferg',
       'Kenny Man', 'John Lundvik', 'Mc Livinho', 'Andy Grammer',
       'Vince Guaraldi Trio', 'Peter Manos', 'Carpenters', 'Pretenders',
       'Madonna', 'Wizzard', 'Rihanna', 'SSIO', 'Daniel Caesar',
       'Ty Dolla $ign', 'Rockwell', 'Bring Me The Horizon', 'James Bay',
       'Adele', 'Bastille', 'Herve Pagez', 'Jess Glynne', 'SiR',
       'Vampire Weekend', 'Maggie Rogers', 'Nat King Cole Trio',
       'Jona Lewie', 'The 1975', 'Lazza', 'Foster The People',
       'The Black Keys', 'Christina Perri', 'Bon Iver', 'Charlie Charles',
       'Tove Lo', 'Gryffin', 'Rex Orange County', 'Charli XCX',
       'Alicia Keys', 'Majid Jordan', 'Lauren Jauregui', 'Flume',
       'Miami Yacine', 'ILLENIUM', 'Niska', 'LANY', 'Lynyrd Skynyrd',
       'The Cranberries', 'Lord Huron', 'Coez', 'blink-182', 'Kesha',
       'Pabllo Vittar', 'MC JottaPê', 'Gzuz', 'EXO', 'Fedez',
       'Jhené Aiko', 'Childish Gambino', 'Bass Santana', 'Lexa', 'Thalía',
       'Stephanie Poetri', 'Seeb', 'Bruno Mars', 'a-ha',
       'Humberto & Ronaldo', 'LX', 'Bee Gees'], dtype=object)

In [149]:
df.Artist.value_counts().index.values

array(['Post Malone', 'Juice WRLD', 'Ariana Grande', 'Billie Eilish',
       'Taylor Swift', 'Ed Sheeran', 'Trippie Redd', 'Drake', 'Khalid',
       'Beyoncé', 'Lil Nas X', 'XXXTENTACION', 'The Chainsmokers',
       'Jonas Brothers', 'Future', 'PNL', 'Avicii', 'Lana Del Rey',
       'Harry Styles', 'Logic', 'DaBaby', 'Young Thug', 'Michael Bublé',
       'Lil Tecca', 'Capital Bra', 'DJ Khaled', 'Kanye West',
       'ScHoolboy Q', 'BTS', 'Chance the Rapper', 'Rammstein',
       'Tyler, The Creator', 'Ozuna', 'Queen', 'J Balvin', 'Ninho',
       'Camila Cabello', 'MERO', 'Offset', 'Marshmello', 'Lauv',
       'Lewis Capaldi', 'Paulo Londra', 'Dreamville', 'Nekfeu', 'Ufo361',
       'tha Supreme', 'Bad Bunny', 'Shawn Mendes', 'Apache 207',
       'Miley Cyrus', 'Bazzi', 'TOOL', 'DJ Snake', 'Shindy',
       'French Montana', 'NF', 'Lizzo', 'Sia', 'Travis Scott', 'Tyga',
       'Loredana', 'BLACKPINK', 'Marracash', 'Samra', '6ix9ine',
       '5 Seconds of Summer', 'Halsey', 'Dalex', 'Anuel AA', 'KAROL G',
       'Martin Garrix', 'Sam Smith', 'Shirin David', 'The Weeknd',
       'Dua Lipa', 'Bing Crosby', 'Kygo', 'Lil Pump', 'Gunna',
       'Nicky Jam', 'Tory Lanez', 'YNW Melly', 'Lil Baby',
       'A Boogie Wit da Hoodie', 'Sebastian Yatra', 'Coldplay',
       'Summer Walker', 'Lunay', 'Slipknot', 'Maluma', 'Chris Brown',
       'Roddy Ricch', 'David Guetta', 'Nipsey Hussle', 'Selena Gomez',
       'Frank Sinatra', 'Cardi B', 'JACKBOYS', 'Daddy Yankee',
       'benny blanco', 'NAV', 'Mustard', 'Luis Fonsi', 'Major Lazer',
       'Bebe Rexha', 'MC Kevin o Chris', 'Marília Mendonça', 'Stormzy',
       'Anitta', 'Imagine Dragons', 'Mark Ronson', 'Lil Uzi Vert',
       'Dean Lewis', 'ROSALÍA', 'Sech', 'Katy Perry', 'Ellie Goulding',
       'RIN', 'Maroon 5', 'BROCKHAMPTON', '21 Savage', 'Rich The Kid',
       'Dean Martin', 'Mabel', 'Mau y Ricky', 'Jax Jones', 'Zedd',
       'Mariah Carey', 'Tame Impala', 'P!nk', 'YG', 'Hozier',
       'Alessia Cara', 'Lil Skies', 'Azet', 'Machine Gun Kelly',
       'Zara Larsson', 'Doja Cat', "Why Don't We", 'Lil Mosey',
       'Dermot Kennedy', 'OneRepublic', '2 Chainz', 'Piso 21',
       'Calvin Harris', 'Gemitaiz', 'James Arthur', 'KC Rebell',
       'Alan Walker', 'Blueface', 'MEDUZA', 'Brett Eldredge',
       'Myke Towers', 'SHAED', 'Kina', 'John Legend', 'Tiësto',
       'Rich Music LTD', 'NLE Choppa', 'Manuel Turizo', 'Lady Gaga',
       'RAF Camora', 'Summer Cem', 'Earth, Wind & Fire', 'Little Mix',
       'Jorge & Mateus', 'Vince Guaraldi Trio', 'Ella Fitzgerald',
       'Frank Ocean', 'Carpenters', 'Dardan', 'Madonna', 'A$AP Rocky',
       'Daniel Caesar', 'Big Sean', 'Burl Ives', 'Andy Williams',
       'Mahmood', 'Fero47', 'Russ', 'The Police', 'Stevie Wonder', 'Nimo',
       'Rick Ross', 'Reynmen', 'Melanie Martinez', 'Charlie Puth',
       'Rudimental', 'Henrique & Juliano', 'Michael Jackson',
       'The Jackson 5', 'Nat King Cole', 'Elton John', 'Julia Michaels',
       'The Killers', 'TWICE', 'Pentatonix', 'Christina Aguilera',
       'Solange', 'Gabriel Diniz', 'Zé Neto & Cristiano', 'John Mayer',
       'Elvis Presley', 'The Cratez', 'Ava Max', 'Arizona Zervas',
       'Charli XCX', 'Jhay Cortez', 'Ski Mask The Slump God',
       'Quality Control', 'YUNGBLUD', 'Kehlani', 'Ant Saunders',
       'Sean Paul', 'The 1975', 'Kodak Black', 'Lil Peep', 'Ali Gatie',
       'R3HAB', 'Y2K', 'Lukas Graham', 'Rauw Alejandro', 'Justin Bieber',
       'Metro Boomin', 'Duki', 'Jonas Blue', 'Calboy', 'Gucci Mane',
       'Brenda Lee', 'Polo G', 'Justin Quiles', 'Reik', 'Dimelo Flow',
       'Hailee Steinfeld', 'Jorja Smith', 'James Bay', 'Blanco Brown',
       'George Ezra', 'Bring Me The Horizon', 'Don Toliver', 'Bastille',
       'Guaynaa', 'Sam Feldt', 'Becky G', 'Diplo', 'Tones and I',
       'Lil Tjay', 'Kelly Clarkson', 'Kendrick Lamar',
       'Panic! At The Disco', 'Joji', '24kGoldn', 'Martin Jensen',
       'Luke Combs', 'Judy Garland', 'Irama', 'Gene Autry',
       'Macklemore & Ryan Lewis', 'blink-182', 'Idina Menzel', 'Coez',
       'Jessie J', 'Lynyrd Skynyrd', 'Lord Huron', 'The Cranberries',
       'Keala Settle', 'Kontra K', 'Rockwell', 'Conan Gray',
       'Stephanie Poetri', 'Liam Payne', 'LX', 'Train',
       'TOMORROW X TOGETHER', 'Bryant Myers', 'The Beach Boys',
       'Humberto & Ronaldo', 'a-ha', 'João Gustavo e Murilo',
       'Bruno Mars', 'Céline Dion', 'Seeb', 'Thalía', 'Kesha', 'Lexa',
       'Bass Santana', 'Childish Gambino', 'Jhené Aiko', 'Boney M.',
       'Fedez', 'Alesso', 'Slade', 'EXO', 'Gzuz', 'MC JottaPê',
       'Pabllo Vittar', 'LANY', 'Alicia Keys', 'Kacey Musgraves', 'Niska',
       'BRADO', 'OutKast', 'Florence + The Machine', 'Lazza',
       'Ray Parker, Jr.', 'Keiino', 'Bobby "Boris" Pickett', 'A$AP Ferg',
       'Kenny Man', 'John Lundvik', 'Jona Lewie', 'MC L da Vinte',
       'Nat King Cole Trio', 'Maggie Rogers', 'Vampire Weekend',
       'Mc Livinho', 'Andy Grammer', 'SiR', 'Jess Glynne', 'Peter Manos',
       'Herve Pagez', 'Pretenders', 'Wizzard', 'Adele', 'Rihanna', 'SSIO',
       'Ty Dolla $ign', 'Louis Tomlinson', 'Foster The People',
       'The Black Keys', 'Wesley Safadão', 'ILLENIUM', 'Miami Yacine',
       '88-Keys', 'Flume', 'Shiva', 'Mel & Kim', 'Eagles',
       'Lauren Jauregui', 'AC/DC', 'Majid Jordan', 'Nina Nesbitt',
       'Hannah Kerr', 'PnB Rock', 'Luca Hänni', 'Rex Orange County',
       'Avril Lavigne', 'Gryffin', 'Luche', 'Tove Lo', 'Charlie Charles',
       'Bryan Adams', 'Melanie Thornton', 'Bon Iver', 'Christina Perri',
       'Portugal. The Man', 'Şanışer', 'YBN Cordae', 'Riton', 'TINI',
       'Sfera Ebbasta', 'Niall Horan', 'Robin Schulz', 'Gesaffelstein',
       'Bobby Helms', 'Dayvi', 'Megan Thee Stallion', 'Lil Dicky',
       'Tom Walker', 'Silk City', 'BlocBoy JB', 'John Lennon',
       'Tropkillaz', 'Ashley O', 'Brytiago', 'ChocQuibTown',
       'Sofia Reyes', 'Danny Ocean', 'Residente', 'Chris Rea',
       'Paul McCartney', 'Noah Cyrus', 'JP Saxe', 'Noriel',
       'Joyner Lucas', "Shakin' Stevens", 'Maren Morris',
       'Duncan Laurence', 'Amenazzy', 'NOTD', 'Nio Garcia', 'H.E.R.',
       'ZAYN', 'Loud Luxury', 'Pedro Capó', 'J. Cole', 'Meek Mill',
       'Alec Benjamin', 'Anne-Marie', 'blackbear', 'Dynoro', 'DJ Luian',
       'Dominic Fike', 'Regard', 'The Black Eyed Peas', 'Tainy', 'Camilo',
       'Dan + Shay', 'Rita Ora', 'Sheck Wes', 'Oasis', 'Trevor Daniel',
       'Flipp Dinero', 'Wham!', 'Normani', 'TOTO', 'Jeremy Zucker',
       'Wisin & Yandel', 'Aaron Smith', 'Jason Mraz', 'José Feliciano',
       'Clean Bandit', 'Perry Como', 'The Pogues',
       'Daryl Hall & John Oates', '*NSYNC', 'Dennis Lloyd', 'Labrinth',
       'Dennis DJ', 'Cauty', 'Saweetie', 'Don Patricio', 'Luan Santana',
       'Twenty One Pilots', 'MC Du Black', 'Farid Bang', 'Norm Ender',
       'Ultimo', 'Gwen Stefani', 'Kalazh44', 'Red Velvet', 'Eartha Kitt',
       'True Damage', 'Zac Efron', 'SuperM', 'James Blake', 'KSI',
       'Pedro Sampaio', 'Márcia Fellipe', 'Donny Hathaway', 'Bushido',
       'G-Eazy', 'j-hope', 'KYLE', 'Tony Bennett', 'Daya',
       'YoungBoy Never Broke Again', 'Galantis', 'Journey', 'Gaullin',
       'WOS', 'Eminem', 'JENNIE', 'Swae Lee', 'FLETCHER', 'Gradur',
       'Dadá Boladão', 'PARTYNEXTDOOR', 'Felipe Araújo', 'Kevin Roldan',
       'SZA', 'SAINt JHN', 'Blue Ivy', 'Chuck Berry', 'Nicki Minaj',
       'Gambi', 'Internet Money', 'Bizarrap', 'C. Tangana', 'Sido',
       'Bruce Springsteen', 'Meghan Trainor', 'Leona Lewis',
       'Kylie Minogue', 'Omar Montes', 'Paloma Mami', 'Bee Gees'],
      dtype=object)

In [151]:
pd.DataFrame(df.Artist.unique(),columns=['artist'])

                 artist
0               Ava Max
1         Billie Eilish
2         Ariana Grande
3           Tones and I
4          Shawn Mendes
..                  ...
483          Bruno Mars
484                a-ha
485  Humberto & Ronaldo
486                  LX
487            Bee Gees

[488 rows x 1 columns]

In [165]:
# help(df.describe)
df.describe(include='object')

,Country,Track_id,Track Name,Artist,URL,Artist_id,Artist_img
count,1717,1717,1717,1717,1717,1717,1717
unique,1,1717,1471,488,1717,485,485
top,global,25sgk305KZfyuqVBQIahim,Old Town Road,Post Malone,https://open.spotify.com/track/25sgk305KZfyuqV...,246dkjvS1zLTtiykXe5h60,https://i.scdn.co/image/93fec27f9aac86526b9010...
freq,1717,1,4,45,1,45,45