In [5]:
for idx,value in enumerate([10,15,20,25,30]):
    print(idx)

0
1
2
3
4

In [8]:
for idx, value in enumerate('동해 물과 백두 산이 마르고 닳도록'.split()):
    print(idx, value)

0 동해
1 물과
2 백두
3 산이
4 마르고
5 닳도록

In [9]:
{idx:value for idx, value in enumerate('동해 물과 백두 산이 마르고 닳도록'.split()) }

{0: '동해', 1: '물과', 2: '백두', 3: '산이', 4: '마르고', 5: '닳도록'}

In [10]:
# zip 함수  : 두개의 리스트를 한개의 쌍으로 묶어주는 기능

In [12]:
list_1 = ['a1','a2','a3']
list_2 = ['b1','b2','b3']
for a,b in zip(list_1,list_2):
    print(a,b)

a1 b1
a2 b2
a3 b3

In [13]:
# 0 a1 b1
# 1 a2 b2
# 2 a3 b3

In [16]:
for idx,(a,b) in enumerate(zip(list_1,list_2)):
    print(idx,a,b)

0 a1 b1
1 a2 b2
2 a3 b3

In [17]:
# 람다 함수 : 함수를 이름없이 사용하는 익명함수
# 함수... def 함수명():
def addF(x, y):
    return x + y
addF(10,20)

30

In [18]:
f = lambda x,y : x + y

In [19]:
f(10,20)

30

In [23]:
(lambda x: x+1)(20)

21

In [35]:
def calculate(f, a,b):
    # print('람다에서 함수를 매개변수로 받아서 사용')
    return f(a,b)

In [36]:
def addf(x,y):
    return x+y

In [37]:
# 4칙연산중에 하나를 수행한다

calculate( addf, 10,20)

30

In [38]:
calculate(lambda x,y : x-y, 10,20 )

-10

In [39]:
calculate(lambda x,y: x*y, 10,20)

200

# 맵리듀스 : 빅데이터를 처리하기위한 기본 알고리즘
    map()  reduce()

In [41]:
# map : 연속된 데이터의 각 요소에 같은 기능을 적용할때 사용

In [42]:
ex = [1,2,3,4,5]
ex

[1, 2, 3, 4, 5]

In [43]:
# 각 요소의 값에 제곱을한 값을 요소로 갖는 리스트
# [1,4,9,16,25]

In [44]:
# 시퀀스형 : 리스트나 튜플과같은 집합
# map( 적용할 함수, 적용할 시쿼스형데이터)

In [45]:
def tempf(x):
    return x**2

In [47]:
list(map( tempf , ex))

[1, 4, 9, 16, 25]

In [49]:
list(map(lambda x: x**2  , [1,2,3,4,5,6,7,8,9]))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# map()함수 vs 리스트 컴프리핸션

In [54]:
# 한개의 시퀀스
ex = [1,2,3,4,5]
print([i**2 for i in ex])
print(list(map(lambda x: x**2, ex)))

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [55]:
# 최근 트랜드는 람다나 맵함수를 사용을 자재하고 리스트컴프리핸선으로 대체 가능하면 사용하도록 권장

In [59]:
# 두개의 시퀀스
ex = [1,2,3,4,5]
print(list(map(lambda x,y : x+y , ex,ex)))
print([x+y for x,y in zip(ex,ex)])

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [60]:
# map()함수를 필터링 기능을 적용
ex = [1,2,3,4,5,6,7,8,9,10]
for i in ex:
    if i%2 ==0 :
        print(i)

2
4
6
8
10

In [61]:
[i for i in ex if i % 2 == 0]

[2, 4, 6, 8, 10]

In [67]:
# map 함수를 필터처럼 사용하려면 if ~ else 구문이 존재해야 함
# 짝수면 제곱을 하고 홀수면 그대로 출력
list(map(lambda x: x**2 if x%2==0 else x, ex))

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [69]:
# 리스트 컴프리 핸션
[x**2 if x%2==0 else x  for x in ex ]

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [71]:
list(filter(lambda x : x%2==0, ex))

[2, 4, 6, 8, 10]

In [72]:
[ x for x in ex if x%2==0 ]

[2, 4, 6, 8, 10]

# reduce 함수

In [75]:
ex = [1,2,3,4,5]
list(map(lambda x,y : x+y, ex,ex))

[2, 4, 6, 8, 10]

In [79]:
from functools import reduce
reduce(lambda x, y : x+y, ex)

15

In [80]:
x = 0
for y in ex:
    x += y
x

15

In [81]:
# 맵과 리듀스 함수는 과거에 많이쓰던 문법.... 최근에는 잘 사용 안합니다. 
# 리스트 컴프리 핸션으로 대체

# 선형대수학
    벡터 : 크기와 방향을 모두 가지고 있음
    스칼라 : 크기만 가지고 있음

In [83]:
# 벡    터    : 리스트형태로 구조, 튜플 / 딕셔너리
# 스 칼 라    : 단일 값
# 행   렬 (matrix) : 이중 리스트

In [84]:
# 벡터의 연산  : 크기가 같아야하고 각 원소끼리 연산
a = [2,2]
b = [2,3]
c = [3,5]
result = []

In [85]:
a+b+c  # 리스트 연산

[2, 2, 2, 3, 3, 5]

In [86]:
# print(result) --> [7, 10]

[]

In [90]:
result = []
for i in range(len(a)):
    result.append(a[i]+b[i]+c[i])
result

[7, 10]

In [93]:
result = [sum(i) for i in zip(a,b,c)]
result

[7, 10]

In [94]:
# 데이터가 여러개인 경우 함수로 만들어서 사용
from random import sample
a,b,c,d,e= sample(range(100),3),sample(range(100),3),sample(range(100),3),sample(range(100),3),sample(range(100),3)

In [95]:
a,b,c,d,e

([44, 82, 61], [48, 30, 90], [69, 49, 34], [1, 23, 68], [63, 16, 79])

In [96]:
[sum(i) for i in zip(a,b,c,d,e)]

[225, 200, 332]

In [97]:
def vector_add(*args):
    return [sum(i) for i in zip(*args)]
vector_add(a,b,c,d,e)

[225, 200, 332]

In [99]:
# 스칼라 - 벡터 연산
# a(x + y) = ax + ay
# 2([1,2,3]+[4,4,4]) = 2(5,6,7) = [10,12,14]

In [100]:
a = [1,2,3]
b = [4,4,4]
scalar = 2

In [102]:
[2*sum(i) for i in zip(a,b)]

[10, 12, 14]

In [103]:
# 행렬의 연산
metrix_a = [
    [3,6],
    [4,5]
]
metrix_b = [
    [5,8],
    [6,7]
]

In [110]:
print(metrix_a) 
print(metrix_b)

[[3, 6], [4, 5]]
[[5, 8], [6, 7]]

In [107]:
# 넘파이...

[[3, 6], [4, 5], [5, 8], [6, 7]]

In [111]:
[t for t in zip(metrix_a, metrix_b)]

[([3, 6], [5, 8]), ([4, 5], [6, 7])]

In [115]:
[ [row for row in zip(*t)] for t in zip(metrix_a, metrix_b) ]

[[(3, 5), (6, 8)], [(4, 6), (5, 7)]]

In [116]:
[ [sum(row) for row in zip(*t)] for t in zip(metrix_a, metrix_b) ]

[[8, 14], [10, 12]]

In [117]:
# 행렬의 동치 두개의 행렬이 같은지 판단
temp = [True, False,True,False]
all(temp),  any(temp)
# all(temp)  and
#  any(temp) or

(False, True)

In [124]:
metirx_a = [[1,2],[3,4]]
metirx_b = [[10,20],[30,40]]

In [129]:
 [ [ i for i in zip(*t)] for t in zip(metirx_a,metirx_b)]

[[(1, 10), (2, 20)], [(3, 30), (4, 40)]]