# 자전거 대여량 예측

# 1. 데이터 확보

In [1]:
url = 'https://raw.githubusercontent.com/leekyuyoung20221226/python/main/data/bike.csv'
import numpy as np
import pandas as pd

In [4]:
bike = pd.read_csv(url)
bike.head(2)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1.0,0.0,1.0,0.0,6.0,0.0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1.0,0.0,1.0,0.0,0.0,0.0,2,0.363478,0.353739,0.696087,0.248539,131,670,801

# 2 데이터 전처리

### 결측치 확인 - 중간값이나 또는 평균으로 대처

In [12]:
bike.isnull().sum()

instant       0
dteday        0
season        0
yr            1
mnth          1
holiday       0
weekday       0
workingday    0
weathersit    0
temp          1
atemp         1
hum           3
windspeed     5
casual        0
registered    0
cnt           0
dtype: int64

In [13]:
# 중간값으로 채우기  windspeed
bike['windspeed'].fillna( bike['windspeed'].median(),inplace=True)

In [17]:
bike.loc[730,'yr'] = 1.0
bike.loc[730,'mnth'] = 12.0

In [19]:
bike['temp'].fillna( bike['temp'].median(),inplace=True)
bike['atemp'].fillna( bike['atemp'].median(),inplace=True)
bike['hum'].fillna( bike['hum'].median(),inplace=True)

In [20]:
# 결측치 데이터 출력하기
bike[bike.isnull().any(axis=1)]

Empty DataFrame
Columns: [instant, dteday, season, yr, mnth, holiday, weekday, workingday, weathersit, temp, atemp, hum, windspeed, casual, registered, cnt]
Index: []

In [24]:
# 수치형 데이터만 선택하기
bike.drop(columns=['dteday'],inplace=True)

In [25]:
bike.head(3)

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1.0,0.0,1.0,0.0,6.0,0.0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,1.0,0.0,1.0,0.0,0.0,0.0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,1.0,0.0,1.0,0.0,1.0,1.0,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349

In [26]:
# 일단 모든 컬럼 다 사용하기

In [ ]:
# 데이터 표준화 안해도 됨 - xgboost 사용