In [1]:
# 함수 설계
import os
import sys
import urllib.request
import json
client_id = "J2KwXxSxDGbKmuP9V6eE"
client_secret = "NOtfPphkJY"
def getRequestUrl(url):
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    try:
        response = urllib.request.urlopen(request)
        rescode = response.getcode()
        if(rescode==200): # 성공
            response_body = response.read()
            return response_body.decode('utf-8')
        else:
            print("Error Code:" + rescode)  # 404(경로가 잘못), 500(내부에러)
            return None
    except Exception as e:
        print(e)
        return None
        
def getNeverSearch(srcText,searchType='news',display=10,start=1):
    encText = urllib.parse.quote(srcText)
    url = f"https://openapi.naver.com/v1/search/{searchType}.json?query={encText}&display={display}&start={start}&sort=sim"
    jsonData =  getRequestUrl(url)
    if jsonData == None:
        return None
    else:
        return json.loads(jsonData)

In [10]:
# start 1000   display = 100
searchRange = [i for i in range(1,1000,100)] + [1000]    
# getNeverSearch('캠핑')

In [25]:
result = []
for start in searchRange:
    result += getNeverSearch('캠핑',searchType='blog',start=start, display=100)['items']

In [26]:
import pandas as pd
df = pd.DataFrame(result)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        1100 non-null   object
 1   link         1100 non-null   object
 2   description  1100 non-null   object
 3   bloggername  1100 non-null   object
 4   bloggerlink  1100 non-null   object
 5   postdate     1100 non-null   object
dtypes: object(6)
memory usage: 51.7+ KB

In [28]:
df.head()

,title,link,description,bloggername,bloggerlink,postdate
0,레져 활동중 가장 유래가 깊은 ‘<b>캠핑</b>’의 역사,https://blog.naver.com/rboder/223001312136,<b>캠핑</b>(Camping)의 사전적 정의는 ‘텐트 또는 임시로 지은 초막 등...,구르는돌&ThroughOut,blog.naver.com/rboder,20230201
1,<b>캠핑</b>전기포트 유용하게 접이식으로!,https://blog.naver.com/yunheiro/222982232046,사계절 내내 <b>캠핑</b> 다니는 저에게는 무엇보다도 불편한 게 따뜻한 물을 마...,"곽진성,곽희주♡",blog.naver.com/yunheiro,20230113
2,<b>캠핑</b>전기포트 접이식이라 여행용으로 딱!,https://blog.naver.com/hmy3555/222954430608,<b>캠핑</b> 좋아하시는 분 계신가요? 저는 작년부터 푹 빠졌는데요. 이것저것 ...,"Thanks, day by day",blog.naver.com/hmy3555,20221214
3,르노마스터(13인승) <b>캠핑</b>카 변신 완료,https://blog.naver.com/jllk123/222998142446,드디어 완성된 르노마스터 <b>캠핑</b>카. 정말 오래걸렸다.ㅎㅎ 사장님께 <b>...,광당의 세상(KD&apos;s world),blog.naver.com/jllk123,20230129
4,<b>캠핑</b>장비 용품 미니 에어펌프 무선 충전식 <b>캠핑</b> 랜턴,https://blog.naver.com/allaboutcanada/22299854...,"햇지입니다 :) 추운 겨울에도 거침없이 <b>캠핑</b>을 가야 하지만, 아주 매운...",오늘은 뭐햇지?,blog.naver.com/allaboutcanada,20230129

In [29]:
df.to_csv('./blog.csv')

# 공공데이터 API

In [66]:
SERVICE_KEY = 'U5i63xpIWM48raIRQBYpUXbA/wKd0iO6n/n1+JISyoEW1gWcEiz2No2fHPeid5TZoQN0HV85WyGv6LPwaQ8n4w=='

In [ ]:
# import urllib.request
# url = 'http://apis.data.go.kr/1360000/TourStnInfoService/getTourStnVilageFcst'
# url += f'?serviceKey={SERVICE_KEY}&numOfRows=10&pageNo=1'
# url += '&CURRENT_DATE=2022010101&HOUR=24&COURSE_ID=1'
# # print(response.url)
# # print(url)
# url = response.url
# request = urllib.request.Request(url)
# response = urllib.request.urlopen(request)
# rescode = response.getcode()
# if(rescode==200): # 성공
#     response_body = response.read()
#     print( response_body.decode('utf-8') )
# else:
#     print("Error Code:" + rescode)  # 404(경로가 잘못), 500(내부에러)

In [89]:
import requests
url = 'http://apis.data.go.kr/1360000/TourStnInfoService/getTourStnVilageFcst'
params ={'serviceKey' : SERVICE_KEY, 'pageNo' : '1', 'numOfRows' : '10', 'dataType' : 'JSON', 
         'CURRENT_DATE' : '2022010101', 'HOUR' : '24', 'COURSE_ID' : '1' }

response = requests.get(url, params=params)
response.encoding = 'UTF-8'
print(response.text)

{"response":{"header":{"resultCode":"00","resultMsg":"NORMAL_SERVICE"},"body":{"dataType":"JSON","items":{"item":[{"tm":"2022-01-03 00:00","thema":"문화/예술","courseId":"1","courseAreaId":"4700000000","courseAreaName":"경상북도","courseName":"남호고택에서의 하룻밤","spotAreaId":102,"spotAreaName":"봉화","spotName":"(봉화)춘양목 송이마을","th3":-9,"wd":327,"ws":1,"sky":1,"rhm":60,"pop":0},{"tm":"2022-01-03 00:00","thema":"종교/역사/전통","courseId":"1","courseAreaId":"4700000000","courseAreaName":"경상북도","courseName":"남호고택에서의 하룻밤","spotAreaId":104,"spotAreaName":"봉화","spotName":"(봉화)계서당(성이성 생가)","th3":-7,"wd":341,"ws":1,"sky":1,"rhm":60,"pop":0},{"tm":"2022-01-03 00:00","thema":"자연/힐링","courseId":"1","courseAreaId":"4700000000","courseAreaName":"경상북도","courseName":"남호고택에서의 하룻밤","spotAreaId":104,"spotAreaName":"봉화","spotName":"(봉화)계서당(성이성 생가)","th3":-7,"wd":341,"ws":1,"sky":1,"rhm":60,"pop":0},{"tm":"2022-01-03 00:00","thema":"체험/학습/산업","courseId":"1","courseAreaId":"4700000000","courseAreaName":"경상북도","courseName":"남호고택에서의 하룻밤","spotAreaId":104,"spotAreaName":"봉화","spotName":"(봉화)계서당(성이성 생가)","th3":-7,"wd":341,"ws":1,"sky":1,"rhm":60,"pop":0},{"tm":"2022-01-03 00:00","thema":"문화/예술","courseId":"1","courseAreaId":"4700000000","courseAreaName":"경상북도","courseName":"남호고택에서의 하룻밤","spotAreaId":103,"spotAreaName":"봉화","spotName":"(봉화)지림사","th3":-7,"wd":336,"ws":1,"sky":1,"rhm":65,"pop":0},{"tm":"2022-01-03 00:00","thema":"종교/역사/전통","courseId":"1","courseAreaId":"4700000000","courseAreaName":"경상북도","courseName":"남호고택에서의 하룻밤","spotAreaId":103,"spotAreaName":"봉화","spotName":"(봉화)지림사","th3":-7,"wd":336,"ws":1,"sky":1,"rhm":65,"pop":0},{"tm":"2022-01-03 00:00","thema":"자연/힐링","courseId":"1","courseAreaId":"4700000000","courseAreaName":"경상북도","courseName":"남호고택에서의 하룻밤","spotAreaId":103,"spotAreaName":"봉화","spotName":"(봉화)지림사","th3":-7,"wd":336,"ws":1,"sky":1,"rhm":65,"pop":0},{"tm":"2022-01-03 00:00","thema":"체험/학습/산업","courseId":"1","courseAreaId":"4700000000","courseAreaName":"경상북도","courseName":"남호고택에서의 하룻밤","spotAreaId":103,"spotAreaName":"봉화","spotName":"(봉화)지림사","th3":-7,"wd":336,"ws":1,"sky":1,"rhm":65,"pop":0},{"tm":"2022-01-03 00:00","thema":"문화/예술","courseId":"1","courseAreaId":"4700000000","courseAreaName":"경상북도","courseName":"남호고택에서의 하룻밤","spotAreaId":104,"spotAreaName":"봉화","spotName":"(봉화)계서당(성이성 생가)","th3":-7,"wd":341,"ws":1,"sky":1,"rhm":60,"pop":0},{"tm":"2022-01-03 00:00","thema":"종교/역사/전통","courseId":"1","courseAreaId":"4700000000","courseAreaName":"경상북도","courseName":"남호고택에서의 하룻밤","spotAreaId":102,"spotAreaName":"봉화","spotName":"(봉화)춘양목 송이마을","th3":-9,"wd":327,"ws":1,"sky":1,"rhm":60,"pop":0}]},"pageNo":1,"numOfRows":10,"totalCount":256}}}

In [94]:
eval("1+2")

3

In [98]:
result = eval(response.text)

In [104]:
df = pd.DataFrame(result['response']['body']['items']['item'])
df.head()

,tm,thema,courseId,courseAreaId,courseAreaName,courseName,spotAreaId,spotAreaName,spotName,th3,wd,ws,sky,rhm,pop
0,2022-01-03 00:00,문화/예술,1,4700000000,경상북도,남호고택에서의 하룻밤,102,봉화,(봉화)춘양목 송이마을,-9,327,1,1,60,0
1,2022-01-03 00:00,종교/역사/전통,1,4700000000,경상북도,남호고택에서의 하룻밤,104,봉화,(봉화)계서당(성이성 생가),-7,341,1,1,60,0
2,2022-01-03 00:00,자연/힐링,1,4700000000,경상북도,남호고택에서의 하룻밤,104,봉화,(봉화)계서당(성이성 생가),-7,341,1,1,60,0
3,2022-01-03 00:00,체험/학습/산업,1,4700000000,경상북도,남호고택에서의 하룻밤,104,봉화,(봉화)계서당(성이성 생가),-7,341,1,1,60,0
4,2022-01-03 00:00,문화/예술,1,4700000000,경상북도,남호고택에서의 하룻밤,103,봉화,(봉화)지림사,-7,336,1,1,65,0

In [170]:
url = 'http://www.worldjob.or.kr/openapi/overseasEmployment.do'
params ={
    'serviceKey' : SERVICE_KEY, 'gubun' : 'A', 'item' : 'N', 'year':'2017'
        }

response = requests.get(url, params=params)
response.encoding = 'UTF-8'
result = response.text
result

'<?xml version="1.0" encoding="UTF-8"?><WORLDJOB>\n<ERR_CD>99</ERR_CD>\n<COUNT>64</COUNT>\n<ITEM>\n<NAME>일본</NAME>\n<CNT>817</CNT>\n<RANKING>1</RANKING>\n<RATE>28.3</RATE>\n</ITEM>\n<ITEM>\n<NAME>미국</NAME>\n<CNT>601</CNT>\n<RANKING>2</RANKING>\n<RATE>20.8</RATE>\n</ITEM>\n<ITEM>\n<NAME>중국</NAME>\n<CNT>185</CNT>\n<RANKING>3</RANKING>\n<RATE>6.4</RATE>\n</ITEM>\n<ITEM>\n<NAME>싱가포르</NAME>\n<CNT>178</CNT>\n<RANKING>4</RANKING>\n<RATE>6.2</RATE>\n</ITEM>\n<ITEM>\n<NAME>베트남</NAME>\n<CNT>177</CNT>\n<RANKING>5</RANKING>\n<RATE>6.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>말레이시아</NAME>\n<CNT>161</CNT>\n<RANKING>6</RANKING>\n<RATE>5.6</RATE>\n</ITEM>\n<ITEM>\n<NAME>인도네시아</NAME>\n<CNT>80</CNT>\n<RANKING>7</RANKING>\n<RATE>2.8</RATE>\n</ITEM>\n<ITEM>\n<NAME>호주</NAME>\n<CNT>75</CNT>\n<RANKING>8</RANKING>\n<RATE>2.6</RATE>\n</ITEM>\n<ITEM>\n<NAME>태국</NAME>\n<CNT>65</CNT>\n<RANKING>9</RANKING>\n<RATE>2.2</RATE>\n</ITEM>\n<ITEM>\n<NAME>독일</NAME>\n<CNT>63</CNT>\n<RANKING>10</RANKING>\n<RATE>2.2</RATE>\n</ITEM>\n<ITEM>\n<NAME>아랍에미리트</NAME>\n<CNT>60</CNT>\n<RANKING>11</RANKING>\n<RATE>2.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>캐나다</NAME>\n<CNT>49</CNT>\n<RANKING>12</RANKING>\n<RATE>1.7</RATE>\n</ITEM>\n<ITEM>\n<NAME>멕시코</NAME>\n<CNT>49</CNT>\n<RANKING>13</RANKING>\n<RATE>1.7</RATE>\n</ITEM>\n<ITEM>\n<NAME>필리핀</NAME>\n<CNT>37</CNT>\n<RANKING>14</RANKING>\n<RATE>1.3</RATE>\n</ITEM>\n<ITEM>\n<NAME>인도</NAME>\n<CNT>31</CNT>\n<RANKING>15</RANKING>\n<RATE>1.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>뉴질랜드</NAME>\n<CNT>26</CNT>\n<RANKING>16</RANKING>\n<RATE>0.9</RATE>\n</ITEM>\n<ITEM>\n<NAME>캄보디아</NAME>\n<CNT>26</CNT>\n<RANKING>17</RANKING>\n<RATE>0.9</RATE>\n</ITEM>\n<ITEM>\n<NAME>홍콩</NAME>\n<CNT>25</CNT>\n<RANKING>18</RANKING>\n<RATE>0.9</RATE>\n</ITEM>\n<ITEM>\n<NAME>괌</NAME>\n<CNT>16</CNT>\n<RANKING>19</RANKING>\n<RATE>0.6</RATE>\n</ITEM>\n<ITEM>\n<NAME>러시아</NAME>\n<CNT>15</CNT>\n<RANKING>20</RANKING>\n<RATE>0.5</RATE>\n</ITEM>\n<ITEM>\n<NAME>마카오</NAME>\n<CNT>12</CNT>\n<RANKING>21</RANKING>\n<RATE>0.4</RATE>\n</ITEM>\n<ITEM>\n<NAME>쿠웨이트</NAME>\n<CNT>11</CNT>\n<RANKING>22</RANKING>\n<RATE>0.4</RATE>\n</ITEM>\n<ITEM>\n<NAME>카타르</NAME>\n<CNT>11</CNT>\n<RANKING>23</RANKING>\n<RATE>0.4</RATE>\n</ITEM>\n<ITEM>\n<NAME>영국</NAME>\n<CNT>11</CNT>\n<RANKING>24</RANKING>\n<RATE>0.4</RATE>\n</ITEM>\n<ITEM>\n<NAME>미얀마</NAME>\n<CNT>8</CNT>\n<RANKING>25</RANKING>\n<RATE>0.3</RATE>\n</ITEM>\n<ITEM>\n<NAME>체코</NAME>\n<CNT>8</CNT>\n<RANKING>26</RANKING>\n<RATE>0.3</RATE>\n</ITEM>\n<ITEM>\n<NAME>터키</NAME>\n<CNT>6</CNT>\n<RANKING>27</RANKING>\n<RATE>0.2</RATE>\n</ITEM>\n<ITEM>\n<NAME>라오스</NAME>\n<CNT>6</CNT>\n<RANKING>28</RANKING>\n<RATE>0.2</RATE>\n</ITEM>\n<ITEM>\n<NAME>브라질</NAME>\n<CNT>6</CNT>\n<RANKING>29</RANKING>\n<RATE>0.2</RATE>\n</ITEM>\n<ITEM>\n<NAME>콩고민주공화국</NAME>\n<CNT>5</CNT>\n<RANKING>30</RANKING>\n<RATE>0.2</RATE>\n</ITEM>\n<ITEM>\n<NAME>대만</NAME>\n<CNT>5</CNT>\n<RANKING>31</RANKING>\n<RATE>0.2</RATE>\n</ITEM>\n<ITEM>\n<NAME>북마리아나군도</NAME>\n<CNT>5</CNT>\n<RANKING>32</RANKING>\n<RATE>0.2</RATE>\n</ITEM>\n<ITEM>\n<NAME>파나마</NAME>\n<CNT>5</CNT>\n<RANKING>33</RANKING>\n<RATE>0.2</RATE>\n</ITEM>\n<ITEM>\n<NAME>폴란드</NAME>\n<CNT>4</CNT>\n<RANKING>34</RANKING>\n<RATE>0.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>동티모르</NAME>\n<CNT>4</CNT>\n<RANKING>35</RANKING>\n<RATE>0.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>스리랑카</NAME>\n<CNT>4</CNT>\n<RANKING>36</RANKING>\n<RATE>0.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>스웨덴</NAME>\n<CNT>3</CNT>\n<RANKING>37</RANKING>\n<RATE>0.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>네덜란드</NAME>\n<CNT>3</CNT>\n<RANKING>38</RANKING>\n<RATE>0.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>앙골라</NAME>\n<CNT>3</CNT>\n<RANKING>39</RANKING>\n<RATE>0.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>오스트리아</NAME>\n<CNT>2</CNT>\n<RANKING>40</RANKING>\n<RATE>0.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>팔레스타인</NAME>\n<CNT>2</CNT>\n<RANKING>41</RANKING>\n<RATE>0.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>파키스탄</NAME>\n<CNT>2</CNT>\n<RANKING>42</RANKING>\n<RATE>0.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>몰디브</NAME>\n<CNT>2</CNT>\n<RANKING>43</RANKING>\n<RATE>0.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>탄자니아</NAME>\n<CNT>2</CNT>\n<RANKING>44</RANKING>\n<RATE>0.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>키르기스스탄</NAME>\n<CNT>2</CNT>\n<RANKING>45</RANKING>\n<RATE>0.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>사우디아라비아</NAME>\n<CNT>2</CNT>\n<RANKING>46</RANKING>\n<RATE>0.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>세네갈</NAME>\n<CNT>2</CNT>\n<RANKING>47</RANKING>\n<RATE>0.1</RATE>\n</ITEM>\n<ITEM>\n<NAME>헝가리</NAME>\n<CNT>1</CNT>\n<RANKING>48</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>우크라이나</NAME>\n<CNT>1</CNT>\n<RANKING>49</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>크로아티아</NAME>\n<CNT>1</CNT>\n<RANKING>50</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>니카라과</NAME>\n<CNT>1</CNT>\n<RANKING>51</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>핀란드</NAME>\n<CNT>1</CNT>\n<RANKING>52</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>미국령 태평양군도</NAME>\n<CNT>1</CNT>\n<RANKING>53</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>과테말라</NAME>\n<CNT>1</CNT>\n<RANKING>54</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>토고</NAME>\n<CNT>1</CNT>\n<RANKING>55</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>루마니아</NAME>\n<CNT>1</CNT>\n<RANKING>56</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>슬로바키아</NAME>\n<CNT>1</CNT>\n<RANKING>57</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>아르헨티나</NAME>\n<CNT>1</CNT>\n<RANKING>58</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>아일랜드</NAME>\n<CNT>1</CNT>\n<RANKING>59</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>카자흐스탄</NAME>\n<CNT>1</CNT>\n<RANKING>60</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>에스토니아</NAME>\n<CNT>1</CNT>\n<RANKING>61</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>오만</NAME>\n<CNT>1</CNT>\n<RANKING>62</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>이란</NAME>\n<CNT>1</CNT>\n<RANKING>63</RANKING>\n<RATE>0</RATE>\n</ITEM>\n<ITEM>\n<NAME>가나</NAME>\n<CNT>1</CNT>\n<RANKING>64</RANKING>\n<RATE>0</RATE>\n</ITEM>\n</WORLDJOB>'

In [171]:
!pip install xmltodict

Requirement already satisfied: xmltodict in c:\users\user\miniconda3\envs\py\lib\site-packages (0.13.0)

In [172]:
import xmltodict

In [173]:
xmldic = xmltodict.parse(result)

In [174]:
df = pd.DataFrame(xmldic['WORLDJOB']['ITEM'])

In [175]:
df.head()

   NAME  CNT RANKING  RATE
0    일본  817       1  28.3
1    미국  601       2  20.8
2    중국  185       3   6.4
3  싱가포르  178       4   6.2
4   베트남  177       5   6.1

# 영문 분석 + 워드클라우드

# 정제 - 정규화 - 토근화 - 불용어 제거 - 어간 추출 - 표제어 추출

In [177]:
# http://www.riss.kr/index.do

In [178]:
!pip install wordcloud

Collecting wordcloud
  Downloading wordcloud-1.8.2.2-cp310-cp310-win_amd64.whl (153 kB)
     -------------------------------------- 153.1/153.1 kB 8.9 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in c:\users\user\miniconda3\envs\py\lib\site-packages (from wordcloud) (3.6.3)
Requirement already satisfied: pillow in c:\users\user\miniconda3\envs\py\lib\site-packages (from wordcloud) (9.4.0)
Requirement already satisfied: numpy>=1.6.1 in c:\users\user\miniconda3\envs\py\lib\site-packages (from wordcloud) (1.24.1)
Requirement already satisfied: packaging>=20.0 in c:\users\user\miniconda3\envs\py\lib\site-packages (from matplotlib->wordcloud) (22.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\miniconda3\envs\py\lib\site-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\miniconda3\envs\py\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\user\miniconda3\envs\py\lib\site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\miniconda3\envs\py\lib\site-packages (from matplotlib->wordcloud) (4.38.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\miniconda3\envs\py\lib\site-packages (from matplotlib->wordcloud) (1.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\miniconda3\envs\py\lib\site-packages (from matplotlib->wordcloud) (1.4.4)
Requirement already satisfied: six>=1.5 in c:\users\user\miniconda3\envs\py\lib\site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)
Installing collected packages: wordcloud
Successfully installed wordcloud-1.8.2.2

In [179]:
import glob
import re  # 정규식
from functools import reduce   # 2차원리스트를 1차원 리스트로 차원을 줄이는 모듈

In [180]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 23.8 MB/s eta 0:00:00
Collecting click
  Using cached click-8.1.3-py3-none-any.whl (96 kB)
Requirement already satisfied: tqdm in c:\users\user\miniconda3\envs\py\lib\site-packages (from nltk) (4.64.1)
Collecting regex>=2021.8.3
  Downloading regex-2022.10.31-cp310-cp310-win_amd64.whl (267 kB)
     ---------------------------------------- 267.7/267.7 kB ? eta 0:00:00
Requirement already satisfied: joblib in c:\users\user\miniconda3\envs\py\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: colorama in c:\users\user\miniconda3\envs\py\lib\site-packages (from click->nltk) (0.4.5)
Installing collected packages: regex, click, nltk
Successfully installed click-8.1.3 nltk-3.8.1 regex-2022.10.31

In [182]:
# nltk 자연어 처리 패키지
from nltk.tokenize import word_tokenize   # 토큰화(문장을 최소 단위로 분리.. 단어)
from nltk.corpus import stopwords        # 불용어  단어가 아닌 접두사 전치사 기타..
from nltk.stem import WordNetLemmatizer  # 표제어 추출 - 단어를 일반화 시제 등...
from collections import Counter          # 데이터 집합에서 개수를 자동으로 계산
import matplotlib.pylab as plt
from wordcloud import STOPWORDS, WordCloud    # 워드클라우를 그리기위해 사용하는 불용어,

In [226]:
files = glob.glob("./data/*.xls")

In [227]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\user\miniconda3\envs\py\lib\site-packages (2.0.1)

In [228]:
result = []
for file in files:
    df = pd.read_excel(file,index_col=1)
    result.append(df.iloc[:,1:])

In [229]:
for i in result:
    print(len(i))

100
100
100

In [230]:
# result에 있는 Dataframe을 합친다.

In [238]:
df = pd.concat(result,axis=0)

In [239]:
df.head()

,제목,저자,출판사,출판일
번호,,,,
1,Future Trends of AI-based Smart Systems and Se...,이대원,한국정보처리학회,2019
2,Future Trends of AI-Based Smart Systems and Se...,"Lee, Daewon",Korea Information Processing Society,2019
3,Consciousness and Intentionality in AI and the...,Michael Jin Choi(최진),한국신학정보연구원,2016
4,A Study on the Use of AI-based Learning Progra...,김혜숙,한국영어학회,2022
5,Influence of hCG Administration after AI on Co...,Hyun-Joo Lim,한국동물생명공학회(구 한국동물번식학회),2018

In [240]:
df.reset_index(drop=1,inplace=True)

In [241]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제목      300 non-null    object
 1   저자      300 non-null    object
 2   출판사     300 non-null    object
 3   출판일     300 non-null    int64
dtypes: int64(1), object(3)
memory usage: 9.5+ KB

In [242]:
df.head()

,제목,저자,출판사,출판일
0,Future Trends of AI-based Smart Systems and Se...,이대원,한국정보처리학회,2019
1,Future Trends of AI-Based Smart Systems and Se...,"Lee, Daewon",Korea Information Processing Society,2019
2,Consciousness and Intentionality in AI and the...,Michael Jin Choi(최진),한국신학정보연구원,2016
3,A Study on the Use of AI-based Learning Progra...,김혜숙,한국영어학회,2022
4,Influence of hCG Administration after AI on Co...,Hyun-Joo Lim,한국동물생명공학회(구 한국동물번식학회),2018

In [243]:
df.to_csv("ai.csv")

In [244]:
titles = df['제목']

In [245]:
titles

0      Future Trends of AI-based Smart Systems and Se...
1      Future Trends of AI-Based Smart Systems and Se...
2      Consciousness and Intentionality in AI and the...
3      A Study on the Use of AI-based Learning Progra...
4      Influence of hCG Administration after AI on Co...
                             ...
295    Application of AI-based Customer Segmentation ...
296    A Proposed AI-based Library Usage Management i...
297    Comparison of AI-algorithm Performance for Pre...
298    Understanding Passengers’ Perceived Safety and...
299    Design of 2 Wheels Driving Robot Direction Con...
Name: 제목, Length: 300, dtype: object

In [247]:
df.loc[:2]

,제목,저자,출판사,출판일
0,Future Trends of AI-based Smart Systems and Se...,이대원,한국정보처리학회,2019
1,Future Trends of AI-Based Smart Systems and Se...,"Lee, Daewon",Korea Information Processing Society,2019
2,Consciousness and Intentionality in AI and the...,Michael Jin Choi(최진),한국신학정보연구원,2016

In [248]:
df.iloc[:2]

,제목,저자,출판사,출판일
0,Future Trends of AI-based Smart Systems and Se...,이대원,한국정보처리학회,2019
1,Future Trends of AI-Based Smart Systems and Se...,"Lee, Daewon",Korea Information Processing Society,2019

In [253]:
stopword = set(stopwords.words("english"))