# 분류 - classification
    고객분류, 질병진단, 스펨메일 필터링, 음성인식등... 카테고리를 갖는 경우
     - KNN, SVM, Decision Tree, Logistic Regression

### KNN K-Nearst-Neighbors

# 1. 데이터 준비(확보)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
titanic = sns.load_dataset('titanic')
titanic.rename(columns={'sex':'gender'},inplace=True)

In [3]:
titanic.head()

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# 2.데이터 탐색 - info(), describe()

In [4]:
# 결측치 확인 - 1. 갯수, 2.형태는 숫자인데.. 타입이 object면 의심해 봐라.
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   gender       891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [5]:
# 결측치가 많은 컬럼은 통으로 제거하고. - deck 제거
# 의미가 비슷한 컬럼은 하나만 사용 -  embark_town 제거
titanic.drop(['deck','embark_town'],axis=1,inplace=True)

In [6]:
titanic.isna().sum()

survived        0
pclass          0
gender          0
age           177
sibsp           0
parch           0
fare            0
embarked        2
class           0
who             0
adult_male      0
alive           0
alone           0
dtype: int64

In [7]:
# embarked        2 --> 가장 많은 도시약자로 대체  fillna()

In [8]:
titanic['embarked'].value_counts()

S    644
C    168
Q     77
Name: embarked, dtype: int64

In [9]:
freq = titanic['embarked'].value_counts().idxmax()

In [10]:
titanic['embarked'].fillna(freq,inplace=True)

In [11]:
titanic.isnull().mean()

survived      0.000000
pclass        0.000000
gender        0.000000
age           0.198653
sibsp         0.000000
parch         0.000000
fare          0.000000
embarked      0.000000
class         0.000000
who           0.000000
adult_male    0.000000
alive         0.000000
alone         0.000000
dtype: float64

In [12]:
# age 처리여부. 
# 1 drop
# titanic = titanic.dropna(subset=['age'])

# 2.치환 - 선실등급(pclass)별 gender 별 평균으로 대체
grouped =  titanic.groupby(['pclass','gender'])

In [19]:
# transform  - 코드 채워넣기 - 20일차 소스 참고
titanic['age'] = titanic['age'].fillna(
    grouped['age'].transform('mean')
)

In [20]:
titanic.isnull().sum()

survived      0
pclass        0
gender        0
age           0
sibsp         0
parch         0
fare          0
embarked      0
class         0
who           0
adult_male    0
alive         0
alone         0
dtype: int64

In [ ]:
grouped_df = grouped['age'].mean()
grouped_df

In [ ]:
# transform 이용하지 않고 파이썬 문법으로 원시 코드 구현
idx1,idx2,idx3,idx4,idx5,idx6 = [],[],[],[],[],[]
for i in range(len(df)):
    if (df.iloc[i,1] == 1) & (df.iloc[i,2] == 'female') :        
        idx1.append(df.index[i])
    elif (df.iloc[i,1] == 1) & (df.iloc[i,2] == 'male') :
        idx2.append(df.index[i])
    elif (df.iloc[i,1] == 2) & (df.iloc[i,2] == 'female') :        
        idx3.append(df.index[i])
    elif (df.iloc[i,1] == 2) & (df.iloc[i,2] == 'male') :
        idx4.append(df.index[i])
    elif (df.iloc[i,1] == 3) & (df.iloc[i,2] == 'female') :        
        idx5.append(df.index[i])
    elif (df.iloc[i,1] == 3) & (df.iloc[i,2] == 'male') :
        idx6.append(df.index[i])    
# idx1 ~ idx5
titanic.iloc[idx1,3] = grouped_df.values[0]
titanic.iloc[idx2,3] = grouped_df.values[1]
titanic.iloc[idx3,3] = grouped_df.values[2]
titanic.iloc[idx4,3] = grouped_df.values[3]
titanic.iloc[idx5,3] = grouped_df.values[4]
titanic.iloc[idx6,3] = grouped_df.values[5]

In [ ]:
titanic.isnull().sum()

# 3. 속성선택

In [ ]:
titanic.head(2)

In [ ]:
df = titanic.loc[:,:'embarked']

In [ ]:
df.drop(columns=['fare'],inplace=True)

In [ ]:
df.info()

In [ ]:
 # 범주형 데이터를 숫자로 변환 - one hot encoding

In [ ]:
# 원핫인코딩
onehot_gender =  pd.get_dummies(df['gender'])
onehot_embarked = pd.get_dummies(df['embarked'],prefix='town')

In [ ]:
df = pd.concat([df,onehot_gender,onehot_embarked],axis=1)

In [ ]:
df.head()

In [ ]:
df.drop(columns=['gender','embarked'],inplace=True)

In [ ]:
df.head()

# 훈련용/ 검증용 데이터 분할

In [ ]:
y = df['survived']
y

In [ ]:
x = df.loc[:,'pclass':]
x

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
x = ss.fit_transform(x)

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

# 모델선택 - 알고리즘

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=5)

# 학습

In [ ]:
knn.fit(x_train,y_train)

In [ ]:
y_hat = knn.predict(x_test)

In [ ]:
y_hat[:10]

In [ ]:
y_test.values[:10]

# 평가

In [ ]:
from sklearn import metrics

In [ ]:
knn_matrix = metrics.confusion_matrix(y_test,y_hat)

In [ ]:
knn_matrix

In [ ]:
#정확도 (Accuracy)  - 실제참과 예측참 + 실제거짓과 예측 거짓에대한 비율
#정밀도 (Precison)  - 모델을 기준으로 참으로 예측한 데이터들중에 실제 참인 비율 - 오류가 작다
#재현율(Recal) - 실제 참을 기준으로 모델이 얼마나 잘 맞추는지 재현하는것(시물레이션) - 오류가 낮다

In [ ]:
knn_report = metrics.classification_report(y_test,y_hat)
print(knn_report)

In [ ]:
# 사망자에대한 예측능력 : 0.82
# 생존자에대한 예측능력 : 0.73

# svm : Support Vector Machine
    벡터개념을 가지고  공간을 분리 : 벡터개념은 2차원 평면 공간으로 만들어서 분리

In [ ]:
from sklearn import svm

In [ ]:
svm_model = svm.SVC()

In [ ]:
svm_model.fit(x_train_scaled,y_train)

In [ ]:
y_hat = svm_model.predict(x_test_scaled)

In [ ]:
print("첫 10개 실제 정답", y_test.values[:10])
print("첫 10개 예측     ", y_hat[:10])

In [ ]:
svm_report = metrics.classification_report(y_test,y_hat)
print(svm_report)